
<div class="blerp">Distance: <%= @run.distance %> miles</div>
<div class="blerp">Time: <%= @run.time_duration %></div>
<div class="blerp">Thoughts: <%= @run.mood %></div>


<%= link_to "edit", edit_run_path %>
<%= link_to "back", runs_path %>
