<!DOCTYPE html>
<html>
<head>
  <title>Run with Me</title>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Nobile', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="container">
  <div id="logo">Run with me</div>
  <div class="navlink">
      <%= link_to "New Run", new_run_path %>
      <%= link_to "My Runs", runs_path %>
      <%= link_to "My Profile" %>
      <%= link_to "Log Out" %>
  </div>
  <div class="welcomename">Welcome, NAME!</div>
</nav>

<div class="content">
  <%= yield %>
</div>

</body>
</html>
